/* Base Styles */

.body {
    color: #ffffff;
}

p {
    color: #ffffff;
}


/* Header Styles */


/* Main page styles */

.wrapper {
    min-height: 100vh;
    background: linear-gradient( rgba(216, 51, 0, 0.36), rgba(105, 168, 74, 0.43)), url(assets/img/walking-in-ruins.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background: transparent;
    color: #fff;
}

.jumbotron h1 {
    font-size: 5em;
    font-family: 'Metal Mania', cursive;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #choices {
        flex-direction: row;
        justify-content: center;
    }
}

#start-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button[type=submit],
.choice-button {
    width: 200px;
    height: 4em;
    margin: 1em;
    border: none;
    outline: none;
    border-radius: .25em;
    box-shadow: 4px 4px 10px #000000;
    font-family: 'Metal Mania', cursive;
    color: #ffffff;
    background-color: #1bb741;
}

button[type=submit] {
    height: 2em;
}

input[type=text] {
    outline: none;
    border: none;
    border-radius: .25em;
    padding: 5px;
    height: 2em;
}


/* Footer Scoring Interface */

#player-status-interface {
    /* Bottome fixed positioning */
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    /* proportions */
    height: 3em;
    /* colors borders & shading */
    border-top: 1px solid red;
    background: linear-gradient( rgb(67, 67, 67), rgb(25, 25, 25));
    color: #fff;
}

#player-status-interface #player-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#player-status .status-item {
    flex-grow: 1;
    text-align: center;
    height: 1.5em;
}


/* Standard Overrides */

.hidden {
    display: none !important;
}